# Pandas

#### Data representation is better in pandas as compared numpy

In [2]:
!pip install pandas

Requirement already satisfied: pandas in /home/hulk/anaconda3/lib/python3.8/site-packages (1.1.3)
Requirement already satisfied: pytz>=2017.2 in /home/hulk/anaconda3/lib/python3.8/site-packages (from pandas) (2020.1)
Requirement already satisfied: numpy>=1.15.4 in /home/hulk/anaconda3/lib/python3.8/site-packages (from pandas) (1.19.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/hulk/anaconda3/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /home/hulk/anaconda3/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [4]:
import pandas as pd

# We have two data types in pandas

1. Series - 1D <br>
2 . Dataframe - 2D

In [ ]:
# Series

# 1. list
# 2. array
# 3. dic

In [20]:
# 1.list

river = ['ganga' , 'yamuna' , 'neil' , 'brazos']

In [21]:
series = pd.Series(river)
print(series)

0    ganga
1        1
2      1.2
3     True
dtype: object

In [10]:
series = pd.Series(river , index = ['a' , 'b' , 'c' , 'd'])
print(series)

a     ganga
b    yamuna
c      neil
d    brazos
dtype: object

In [11]:
series = pd.Series(river , index = ['a' , 'b' , 'c' , 'd' , 'e'])
print(series)

ValueError: Length of passed values is 4, index implies 5.

In [12]:
# using array

import numpy as np

In [13]:
np.random.randn(5)

array([ 0.46896534, -1.76088194,  0.58145162, -1.14943624,  0.2630625 ])

In [14]:
series = pd.Series(np.random.randn(5))
print(series)

0    0.347569
1    0.427004
2   -0.325535
3    0.329485
4   -0.090645
dtype: float64

In [17]:
series = pd.Series(np.random.randn(5) , index = ['a' , 'b' , 'c' , 'd' , 'e'])
print(series)

a   -0.463903
b    0.222344
c   -1.824723
d   -0.681723
e    2.243018
dtype: float64

In [18]:
# dic

data = {'a':20 , 'b':10 , 'c':0}

In [25]:
series = pd.Series(data , index = ['a','b','e'])
print(series)

a    20.0
b    10.0
e     NaN
dtype: float64

# Indexing

1. giving the index name that you have given
2. zero indexing rule

In [28]:
series = pd.Series(np.random.randn(5))
print(series)

0    0.731459
1    0.293982
2    1.417307
3    0.079560
4   -2.184709
dtype: float64

In [34]:
print(series[-1])

0.2939819416669043

In [36]:
series = pd.Series(np.random.randn(5) ,index = ['a' , 'b' , 'c' , 'd' , 'e'])
print(series)

a    0.536162
b   -0.199962
c    0.372204
d   -2.246327
e   -0.334502
dtype: float64

In [45]:
#index - zero indxing
print(series[-3])

print(series['e'])

0.37220393289797543
-0.3345016585689417

In [49]:
print(series[10])

IndexError: index 10 is out of bounds for axis 0 with size 5

In [56]:
#slicing

series = pd.Series(np.random.randn(5) ,index = ['a' , 'b' , 'c' , 'd' , 'e'])
print(series)

ValueError: Length of passed values is 5, index implies 6.

In [51]:
series[:3]   # start - inclusive # stop is exclusive

a    0.520933
b    2.105474
c    2.390494
dtype: float64

In [52]:
series[::-1]

e   -0.761988
d   -0.672321
c    2.390494
b    2.105474
a    0.520933
dtype: float64

In [55]:
series['a' : 'd' : 2]  # whenevr we have our own index bot the values are inclusive

a    0.520933
c    2.390494
dtype: float64

In [57]:
series = pd.Series(np.random.randn(5) ,index = [1,2,3,4,5])
print(series)

1    0.061691
2    0.658822
3   -0.665147
4   -0.428767
5   -0.114534
dtype: float64

In [60]:
series[1]

0.06169143184319967

In [62]:
series[1:4]

2    0.658822
3   -0.665147
4   -0.428767
dtype: float64

In [64]:
data = {'a':20 , 'b':10 , 'c':0}
series = pd.Series(data , index = ['a','b','c'])
print(series)

a    20
b    10
c     0
dtype: int64

In [67]:
series['a':'b']

a    20
b    10
dtype: int64

In [70]:
brics_country = ['brazil' , 'russia' , 'india' , 'China' , 'South Africa']
brics_currency = ['Real' , 'Ruble' , 'Rupee' , 'Renminbi' , 'Rand']

In [71]:
#q1 - construct a series where currency will be the index and country will be that data 
#respectively

series = pd.Series(brics_country, brics_currency)
print(series)

Real              brazil
Ruble             russia
Rupee              india
Renminbi           China
Rand        South Africa
dtype: object

In [72]:
series.index

Index(['Real', 'Ruble', 'Rupee', 'Renminbi', 'Rand'], dtype='object')

In [73]:
series.values

array(['brazil', 'russia', 'india', 'China', 'South Africa'], dtype=object)

In [76]:
series[:'Rupee']

Real     brazil
Ruble    russia
Rupee     india
dtype: object

In [77]:
# Dataframe - 2d

In [79]:
# how to create a datframe

empty_df = pd.DataFrame()
print(empty_df)
print(type(empty_df))

Empty DataFrame
Columns: []
Index: []
<class 'pandas.core.frame.DataFrame'>

In [82]:
brics_country = ['brazil' , 'russia' , 'india' , 'China' , 'South Africa']
df = pd.DataFrame(brics_country)
df

              0
0        brazil
1        russia
2         india
3         China
4  South Africa

In [85]:
brics_country = ['brazil' , 'russia' , 'india' , 'China' , 'South Africa']
df = pd.DataFrame(brics_country , columns=['country'] , index = ['a' , 'b' , 'c' , 'd' , 'e'])
df

        country
a        brazil
b        russia
c         india
d         China
e  South Africa

In [86]:
brics_country = ['brazil' , 'russia' , 'india' , 'China' , 'South Africa']
brics_currency = ['Real' , 'Ruble' , 'Rupee' , 'Renminbi' , 'Rand']

zip(brics_country,brics_currency)

In [88]:
data = list(zip(brics_country,brics_currency))

In [90]:
data

[('brazil', 'Real'),
 ('russia', 'Ruble'),
 ('india', 'Rupee'),
 ('China', 'Renminbi'),
 ('South Africa', 'Rand')]

In [92]:
df = pd.DataFrame(data)
df

              0         1
0        brazil      Real
1        russia     Ruble
2         india     Rupee
3         China  Renminbi
4  South Africa      Rand

In [93]:
df = pd.DataFrame(data , columns=['country' , 'currency'])
df

        country  currency
0        brazil      Real
1        russia     Ruble
2         india     Rupee
3         China  Renminbi
4  South Africa      Rand

In [94]:
df = pd.Series(data)
df

0          (brazil, Real)
1         (russia, Ruble)
2          (india, Rupee)
3       (China, Renminbi)
4    (South Africa, Rand)
dtype: object

In [97]:
# creating a dataframe using dic

pd.Series({'a':[1,2] , 'b':[3,2] , 'c':[4,5]})

a    [1, 2]
b    [3, 2]
c    [4, 5]
dtype: object

In [98]:
pd.DataFrame({'a':[1,2] , 'b':[3,2] , 'c':[4,5]})

   a  b  c
0  1  3  4
1  2  2  5

In [104]:
pd.DataFrame({'a':[1] , 'b':['bv'] , 'c':['xs']})

   a   b   c
0  1  bv  xs

In [111]:
# Set
# duplication is not allowed
# non homegenous
# unordered datatype
# indexing
# slicing 
# immutable

a = {1,'2',3.5,4,5,1,1,1,1,1}

type(a)

set

In [114]:
a[:]

TypeError: 'set' object is not subscriptable

In [115]:
a= {10,1,2,3,200}
print(a)

{1, 2, 3, 200, 10}

In [116]:
dir(a)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [117]:
a= {10,1,2,3,200}
print(a)

a[0] = 'afsaan'

{1, 2, 3, 200, 10}

TypeError: 'set' object does not support item assignment

In [118]:
a= [1,2,3,4,5,6,7,8,9,10,10,11,10,12,13]
    
set(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [120]:
a= {1, 2+3/2**0 , 5}
a

{1, 5.0}